/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#alert {
  background: red;
  color: #222;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  font-weight: 700;
}

#alert a {
  color: black;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;ta
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    background: #000 url(../img/project_papper.png) center center;
    color: #eee;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  body {
    /*background-image: url('/images/my_image@2x.png');
    background-size: 105px 105px;*/
  }
}

::selection {
	background: #B96AFF; /* Safari */
}
::-moz-selection {
	background: #B96AFF; /* Firefox */
}

header {
  text-align: center;
}

header h1 {
  display: none;
}

#tagline {
  font-family: 'BebasNeue';
  font-size: 1.5em;
  color: #BD10E0;
  text-align: left;
  margin: 1em auto;
  width: 175px;
}

#alpha-warn {
  font-family: 'BebasNeue';
  font-size: 1em;
  color: #BD10E0;
  text-align: left;
  margin: 1em auto;
  width: 600px;
  top:300px;
  left:100px;
}

section p {
  color: #BAD2ED;
  width: 300px;
}

section p a {
  color: #72a4e8;
}

section p a:visited {
  color: #7176e8;
}

.highlight {
  color: #eee;
}

#install {
  text-align: right;
}

#install > a{
  background-image: url(../img/install@2x.png);
  background-size: 303px 88px;
  width: 283px;
  height: 43px;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  color: #fff;
  text-align: left;
  padding: 45px 0 0 20px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #install > a {
    background-image: url(../img/install@2x.png);
    background-size: 303px 88px;
  }
}

#how-to-install {
  font-size: 0.8em;
  color: #aaa;
  line-height: 1.35;
  max-width: 200px;
}

#how-to-install li {
  margin-bottom: 0.5em;
}

#how-to-install a {
  color: #3E9AF8;
}

.wrapper {
  width: 940px;
  margin: -250px auto 0;
  position: relative;
}

#p3{
  padding-bottom: 40px;
}

/* ==========================================================================
   Press Page
   ========================================================================== */
.gd-section{
  margin:0 -10px;
   width: 100%;
   float: left;
}

.press{
  margin:5rem 0;
}
.languagelist{
  text-align:center;
  list-style-type: none;
  width:400px;
  margin:-2rem auto;
  padding:0;
}
.languagelist li{
  float:left;
  text-decoration: none;
  padding:0.5rem;
  font-size: 1rem;
  color:white;
  font-family: 'BebasNeue';
  font-weight: 200;
  color:#ccc;
}
.languagelist li:hover{
  color:#B3D4FC;
}
.languagelist:hover >li{
  color:white;
}
.language{
  font-size:1.8rem;
  font-family: 'BebasNeue';
  font-weight: 300;
  text-align: center;
}
.col{
  width:290px;
  float:left;
  margin:10px;
}
.col2{
  width:620px;
  float:left;
  margin:10px;
}
.pressdiv{
   width:278px;
  border:solid;
  border-color:#ccc;
  border-width: 1px;
  padding:10px;
  margin:10px 0;
}

.superwidth{
  width:510px;
}
.pressdiv p{
  color:#ccc;
  line-height: 1.2rem;
  margin:0.3rem;
  text-decoration: none;
}
.press a{
  text-decoration: none;
}
.center p{
  text-align: center;
}
.pressdiv:hover{
  border-color:#B144F2;
}
.whitebg{
  background-color: white;
  width:276px !important;
  border-width: 2px;
  border-color:white;
}
.whitebg p{
  color:black;
}

header h2{
  font-size: 2.2rem;
  font-family: 'BebasNeue';
  color:#B144F2;

}

/* ==========================================================================
   Privacy Policy Page
   ========================================================================== */
.gd-center {
    width: 100%;
    margin: 0 auto;
}


.p_special {
  text-transform: uppercase;
  color:white !important;
  font-size:1.8rem;
  font-family: 'BebasNeue';
  font-weight:300;
}
.policy h3{
  text-decoration: none;
  font-size: 1.5rem;
  color:white;
  font-family: 'BebasNeue';
  font-weight: 200;
  color:#BD10E0;
}

.policy p{
  font-weight:300;
  color:#BAD2ED;
}

.policy a{
  text-decoration: none !important;
  font-weight:300;
  color:#eee;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 768px) {
  .wrapper {
    width: 94%;
    padding: 0 3%;
    margin-top: 3%;
  }
  .press {
  width:500px;
  margin:auto;
  }
  .col{
    float:none;
    margin:auto;
  }
  .col2{
    width:290px;
  }
  .superwidth{
    width:278px;
    height:100px;
  }
  section>p{
    margin: 1em auto;
  }
  #banners>div {
    text-align: center;
    margin-bottom: 10px;
  }
  #banners>div img {
    max-width: 100%;
  }
}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

  #logo,
  #tagline,
  #install,
  #how-to-install,
  #p1,
  #p2,
  #p3,
  #p4,
  #banners>* {
    position: absolute;
    -webkit-animation: flyin 0.5s ease forwards;
            animation: flyin 0.5s ease forwards;
    /*filter: blur(4px);*/
  }

  #logo           {left: 395px; top: 311px;}
  .subpage        {top:255px !important;}
  #tagline        {left: 429px; top: 473px; -webkit-animation-delay: 0ms; animation-delay: 0ms}
  #p1             {left: 429px; top: 570px; -webkit-animation-delay: 0ms; animation-delay: 0ms}
  #p2             {left: 165px; top: 965px; -webkit-animation-delay: 0ms; animation-delay: 0ms}
  #p3             {left: 429px; top: 1230px; -webkit-animation-delay: 0ms; animation-delay: 0ms}
  #p4             {left: 50px;  top: 80px; width:1000px; -webkit-animation-delay: 0ms; animation-delay: 0ms}
  #install        {left: 620px; top: 475px; -webkit-animation-delay: 800ms; animation-delay: 800ms}
  #chrome         {left: 718px; top: 565px; -webkit-animation-delay: 900ms; animation-delay: 900ms}
  #helen          {left: 150px;  top: 501px; -webkit-animation-delay: 1000ms; animation-delay: 1000ms}
  #pressblock     {left: 760px; top: 615px; -webkit-animation-delay: 1200ms; animation-delay: 1200ms}
  #contact        {left: 272px; top: 620px; -webkit-animation-delay: 1400ms; animation-delay: 1400ms}
  #source         {left: 109px; top: 856px; -webkit-animation-delay: 1600ms; animation-delay: 1600ms}
  #daniel         {left: 4px;   top: 620px; -webkit-animation-delay: 1800ms; animation-delay: 1800ms}
  #mushon         {left: 150px;  top: 736px; -webkit-animation-delay: 2000ms; animation-delay: 2000ms}
  #book           {left: 199px; top: 1512px; -webkit-animation-delay: 2200ms; animation-delay: 2200ms}
  #journal        {left: -30px; top: 1532px; -webkit-animation-delay: 2500ms; animation-delay: 2500ms}
  #symposium      {left: 428px; top: 1700px; -webkit-animation-delay: 2400ms; animation-delay: 2400ms}
  #twitter        {left: 760px; top: 870px; -webkit-animation-delay: 2600ms; animation-delay: 2600ms}
  #facebook       {left: 779px; top: 1250px; -webkit-animation-delay: 2600ms; animation-delay: 2600ms}
  #faq            {left: 779px; top: 1320px; -webkit-animation-delay: 2800ms; animation-delay: 2800ms}
  #privacyblock   {left: 779px; top: 1640px; -webkit-animation-delay: 2600ms; animation-delay: 2600ms}
  #scrn1          {left: 516px; top: 957px; -webkit-animation-delay: 2800ms; animation-delay: 2800ms}
  #scrn2          {left: 0px;   top: 1230px;-webkit-animation-delay: 3000ms; animation-delay: 3000ms}


  /* ===============
      Animate banners
     =============== */

  .ani-left {
    -webkit-transform: translateX(-1000px);
        -ms-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  .ani-right {
      -webkit-transform: translateX(1000px);
          -ms-transform: translateX(1000px);
              transform: translateX(1000px);
  }
  .ani-top {
    -webkit-transform: translateY(-1000px);
        -ms-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
  @-webkit-keyframes flyin {
    to {
      /*filter: blur(0);*/
      -webkit-transform: translateX(0);
      -webkit-transform: translateY(0);
    }
  }
  @keyframes flyin {
     to {
       /*filter: blur(0);*/
       -webkit-transform: translateX(0);
           -ms-transform: translateX(0);
               transform: translateX(0);
       -webkit-transform: translateY(0);
           -ms-transform: translateY(0);
               transform: translateY(0);
     }
  }


   /* ===============
      Press Page
     =============== */

   .press{
    margin-top: 475px;
    margin-left: -11px;
   }
   header h2{
    position: absolute;

    top: 343px;
   }
   #PressHeader{
    left: 375px;
   }
    .languagelist{
  position:absolute;
  top:415px;
  left:275px;
  margin:1rem auto;
  }
  .language{
    padding-right:16px;
  }

   /* ===============
      Privacy Page
     =============== */
  #PrivacyHeader{
    left: 365px;
   }
  .policy{
    margin-top: 455px;
    padding-right:30px;
   }
   .gd-center {
    width: 720px;

  }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
    }
     .policy{
    padding-right:110px;
   }
   .language{
     padding-right:102px;
   }
   .center{
    /*padding-right: 16px;*/
   }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
