@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@font-face{
	font-family:'entypo';
	src:url(/assets/entypo-d6b2f7609f5bef8d664fd92a6f2f4641.eot);
	src:url(/assets/entypo-d6b2f7609f5bef8d664fd92a6f2f4641.eot?#ie) format("embedded-opentype"),url(/assets/entypo-fad0454c2b2d9fd36fb842aa3b78887d.woff) format("woff"),url(/assets/entypo-b3b3ba792924e72070033c4cfefd17df.ttf) format("ttf")
}

@font-face{
	font-family:'entypo-social';
	src:url(/assets/entypo-social-bf377b8ce3e164559e97f9c0ad528bf7.eot);
	src:url(/assets/entypo-social-bf377b8ce3e164559e97f9c0ad528bf7.eot?#ie) format("embedded-opentype"),url(/assets/entypo-social-c8803afc1f3ba3225f735336bd8cf22e.woff) format("woff"),url(/assets/entypo-social-694abff22a06102b8a0e7bd535641420.ttf) format("ttf"),url(/assets/entypo-social-8e21d239a8b70977584cc97562bbb9c7.svg#webfont) format("svg")
}

body[id*=posts] header{
	display:-webkit-box;
	display:-moz-box;
	display:box;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-moz-box-pack:center;
	box-pack:center;
	-webkit-justify-content:center;
	-moz-justify-content:center;
	-ms-justify-content:center;
	-o-justify-content:center;
	justify-content:center;
	-ms-flex-pack:center;
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	box-orient:vertical;
	-webkit-flex-direction:column;
	-moz-flex-direction:column;
	flex-direction:column;
	-ms-flex-direction:column;
	height:30vh;
	background:#212F3C;
	color:#FFF
}

body[id*=posts] header h1{
	margin:0 auto;
	-webkit-align-self:center;
	-moz-align-self:center;
	align-self:center;
	-ms-flex-item-align:center
}

body[id*=posts] header h1 span{
	margin-left:1px
}

body[id*=posts] header nav{
	max-width:50vw;
	margin:2em auto 0 auto;
	font-size:1.1em;
	text-align:center
}

body[id*=posts] header nav>*{
	margin:0 1em;
	text-decoration:none;
	transition:color 0.3s linear
}

body[id*=posts] header nav>*:hover{
	color:#FFF
}

body[id*=posts] header nav>*:active{
	text-decoration:underline
}

body[id*=posts] header nav>*[target="_blank"]:after{
	font-family:'entypo';
	content:'';
	margin-left:0.2em;
	font-size:1.5em
}

body[id*=posts] main>section{
	display:-webkit-box;
	display:-moz-box;
	display:box;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-moz-box-align:center;
	box-align:center;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	-o-align-items:center;
	align-items:center;
	-ms-flex-align:center;
	font-size:1.3em;
	min-height:70vh
}

body[id*=posts] main>section:nth-child(odd){
	background:#f3f3f8
}

body[id*=posts] main>section:nth-child(even){
	background:#5C646D;
	color:#EFF1F8
}

body[id*=posts] main>section h2{
	margin:2em auto 0.5em 1em
}

body[id*=posts] section.posts{
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
	-webkit-flex:1;
	-moz-flex:1;
	-ms-flex:1;
	flex:1;
	-webkit-box-align:start;
	-moz-box-align:start;
	box-align:start;
	-webkit-align-items:flex-start;
	-moz-align-items:flex-start;
	-ms-align-items:flex-start;
	-o-align-items:flex-start;
	align-items:flex-start;
	-ms-flex-align:start
}

body[id*=posts] section.posts h2{
	color:#212F3C
}

body[id*=posts] section.posts li{
	display:-webkit-box;
	display:-moz-box;
	display:box;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	box-orient:horizontal;
	-webkit-flex-direction:row;
	-moz-flex-direction:row;
	flex-direction:row;
	-ms-flex-direction:row;
	font-size:1.2em;
	margin:2em 0 2em 0.5em
}

body[id*=posts] section.posts li .timestamp{
	border-right:1px solid #BABABA;
	padding:0 1em
}

body[id*=posts] section.posts li .timestamp span{
	display:block;
	text-align:center
}

body[id*=posts] section.posts li .timestamp span.month{
	font-size:0.8em
}

body[id*=posts] section.posts li .timestamp span.year{
	font-size:0.5em
}

body[id*=posts] section.posts li a{
	align-self:center;
	margin:0 1em
}

body[id*=posts] section.posts nav{
	padding-left:4em
}

body[id*=posts] section.mailing.list{
	min-height:50vh;
	display:-webkit-box;
	display:-moz-box;
	display:box;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flexbox;
	display:flex
}

body[id*=posts] section.mailing.list form{
	-webkit-align-self:center;
	-moz-align-self:center;
	align-self:center;
	-ms-flex-item-align:center;
	margin:3em 0
}

body[id*=posts] section.mailing.list form div{
	background:#FFF;
	display:-webkit-box;
	display:-moz-box;
	display:box;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flexbox;
	display:flex;
	border-radius:2px
}

body[id*=posts] section.mailing.list form input,body[id*=posts] section.mailing.list form button{
	border:none;
	background:none;
	outline:none;
	font-size:1.2em;
	margin:0
}

body[id*=posts] section.mailing.list form input{
	flex:1 60%;
	padding:4px 8px;
	display:inline
}

body[id*=posts] section.mailing.list form button{
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
	-webkit-flex:1 40%;
	-moz-flex:1 40%;
	-ms-flex:1 40%;
	flex:1 40%;
	background:#B2E0B2;
	color:#0B360D;
	border-left:1px solid #8DD390;
	border-radius:0 2px 2px 0;
	box-shadow:inset 1px 1px 0 0 #D2E5D1;
	cursor:pointer
}

body[id*=posts] section.mailing.list form button:active{
	box-shadow:none
}

body[id*=posts] section.mailing.list form p.no.spam{
	margin:0.4em 0 2em 0;
	font-size:0.7em
}

body[id*=posts] section.contact{
	min-height:30vh
}

body[id*=posts] section.contact a{
	color:inherit
}

.session.wrapper{
	height:40px;
	width:100%;
	background:rgba(184,160,98,0.5)
}

#new_session{
	width:800px;
	margin:0 auto;
	padding-top:3px;
	text-align:center;
	font-weight:lighter
}

#new_session #session_password,#new_session #session_email{
	display:inline-block;
	border:1px solid #ABABAB;
	font-size:1.4em;
	vertical-align:center
}

main section#mailingList{
	display:-webkit-box;
	display:-moz-box;
	display:box;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	box-orient:vertical;
	-webkit-flex-direction:column;
	-moz-flex-direction:column;
	flex-direction:column;
	-ms-flex-direction:column;
	-webkit-box-pack:center;
	-moz-box-pack:center;
	box-pack:center;
	-webkit-justify-content:space-around;
	-moz-justify-content:space-around;
	-ms-justify-content:space-around;
	-o-justify-content:space-around;
	justify-content:space-around;
	-ms-flex-pack:center;
	width:100%;
	height:800px;
	background:#E4DBCE;
	font-size:1.2em
}

main section#mailingList form{
	height:500px;
	width:50%;
	text-align:center;
	-webkit-align-self:center;
	-moz-align-self:center;
	align-self:center;
	-ms-flex-item-align:center
}

main section#mailingList form input[type="email"]{
	border:1px solid #BABABA;
	line-height:1.6em;
	font-size:1.6em;
	padding:0 8px
}

main section#mailingList form button{
	background:#b2c5ad;
	border:1px solid #81A78A;
	border-radius:3px;
	line-height:1.6em;
	font-size:1.4em;
	vertical-align:top;
	color:#355045
}

main section#mailingList{
	display:-webkit-box;
	display:-moz-box;
	display:box;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	box-orient:vertical;
	-webkit-flex-direction:column;
	-moz-flex-direction:column;
	flex-direction:column;
	-ms-flex-direction:column;
	-webkit-box-pack:center;
	-moz-box-pack:center;
	box-pack:center;
	-webkit-justify-content:space-around;
	-moz-justify-content:space-around;
	-ms-justify-content:space-around;
	-o-justify-content:space-around;
	justify-content:space-around;
	-ms-flex-pack:center;
	width:100%;
	height:800px;
	background:#E4DBCE;
	font-size:1.2em
}

main section#mailingList form{
	height:500px;
	width:50%;
	text-align:center;
	-webkit-align-self:center;
	-moz-align-self:center;
	align-self:center;
	-ms-flex-item-align:center
}

main section#mailingList form input[type="email"]{
	border:1px solid #BABABA;
	line-height:1.6em;
	font-size:1.6em;
	padding:0 8px
}

main section#mailingList form button{
	background:#b2c5ad;
	border:1px solid #81A78A;
	border-radius:3px;
	line-height:1.6em;
	font-size:1.4em;
	vertical-align:top;
	color:#355045
}

nav.site{
	display:-webkit-box;
	display:-moz-box;
	display:box;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-moz-box-align:center;
	box-align:center;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	-o-align-items:center;
	align-items:center;
	-ms-flex-align:center;
	background:#FFF;
	padding:4px 10%;
	font-size:1.6em;
	border-bottom:1px solid #BABABA
}

nav.site img{
	height:48px;
	-webkit-box-flex:0;
	-moz-box-flex:0;
	box-flex:0;
	-webkit-flex:0 0 48px;
	-moz-flex:0 0 48px;
	-ms-flex:0 0 48px;
	flex:0 0 48px
}

nav.site a{
	-webkit-box-flex:0;
	-moz-box-flex:0;
	box-flex:0;
	-webkit-flex:0 0 auto;
	-moz-flex:0 0 auto;
	-ms-flex:0 0 auto;
	flex:0 0 auto;
	margin:0 1em
}

nav.site .spacer{
	-webkit-box-flex:5;
	-moz-box-flex:5;
	box-flex:5;
	-webkit-flex:5 auto;
	-moz-flex:5 auto;
	-ms-flex:5 auto;
	flex:5 auto
}

nav.site form{
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
	-webkit-flex:1 auto;
	-moz-flex:1 auto;
	-ms-flex:1 auto;
	flex:1 auto
}

nav.site form input[type="email"]{
	border:1px solid #BABABA;
	line-height:1.6em;
	font-size:1.6em;
	padding:0 8px
}

nav.site form button{
	background:#b2c5ad;
	border:1px solid #81A78A;
	border-radius:3px;
	line-height:1.6em;
	font-size:1.4em;
	vertical-align:top;
	color:#355045
}

nav.site form label{
	font-size:0.8em;
	padding:0 1em
}

nav.site form input[type=email]{
	font-family:'Open sans';
	font-size:0.7em;
	width:200px
}

nav.site form button{
	font-size:0.65em;
	margin-left:12px
}

nav.site a,nav.site img{
	text-decoration:none
}

main.post{
	display:-webkit-box;
	display:-moz-box;
	display:box;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	box-orient:horizontal;
	-webkit-flex-direction:row;
	-moz-flex-direction:row;
	flex-direction:row;
	-ms-flex-direction:row;
	-webkit-box-lines:multiple;
	-moz-box-lines:multiple;
	box-lines:multiple;
	-webkit-flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap
}

article{
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
	-webkit-flex:1 70%;
	-moz-flex:1 70%;
	-ms-flex:1 70%;
	flex:1 70%
}

article pre{
	background:#FFF;
	box-shadow:0 0 3px 0 #E5EDF0
}

main.post #disqus_thread{
	padding-top:20px;
	margin-top:20px;
	max-width:900px;
	min-width:300px;
	border-radius:3px 3px 0 0;
	background:#FEFEFE
}

main.post .social{
	display:-webkit-box;
	display:-moz-box;
	display:box;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flexbox;
	display:flex
}

main.post .social>div,main.post .social>iframe{
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
	-webkit-flex:1;
	-moz-flex:1;
	-ms-flex:1;
	flex:1
}

article.content{
	font-size:1.0rem;
	line-height:1.3rem
}

article.content>*:not(pre){
	max-width:960px;
	margin-left:10%;
	margin-right:auto;
	padding:0 32px
}

article.content>pre>code{
	display:block;
	max-width:900px;
	margin:0 auto 0 10%
}

main.post aside{
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
	-webkit-flex:1 30%;
	-moz-flex:1 30%;
	-ms-flex:1 30%;
	flex:1 30%;
	padding:10em 1em 0 1em
}

main.post aside form input{
	width:100%;
	font-size:1.3em;
	margin:0 0 1em 0;
	padding:4px 8px;
	border:1px solid #BABABA
}

main.post aside form p{
	display:inline;
	padding-left:1em
}

main.post aside form button{
	margin:0;
	padding:4px 8px;
	font-size:1.2em
}

header.post{
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
	-webkit-flex:1 100%;
	-moz-flex:1 100%;
	-ms-flex:1 100%;
	flex:1 100%;
	position:relative
}

header.post a.edit.post{
	position:absolute;
	bottom:1em;
	right:2em;
	border-radius:3px;
	background:#557B94;
	padding:0.4em 2em;
	color:#D4DFEC;
	text-decoration:none
}

header.post a.edit.post:active{
	box-shadow:inset 0 1px 3px 0 #3e5979;
	text-shadow:0 1px #3E5979
}

*{
	box-sizing:border-box;
	-moz-box-sizing:border-box
}

svg {
  vertical-align: middle;
  background: rgba(255,255,255, 0.2);
  box-shadow: inset 0 0 3px 0px #CECECE;
}

svg circle {
  stroke-width: 2px;
  stroke: #79A32B;
  fill: transparent;
  cursor: pointer;
}

svg circle:active {
  stroke: #45D3C7;
}

@-webkit-keyframes popgwkblzfocruskmwivuglubbclkynkufsb {
	50% {
		-webkit-transform:scale(1.2);
	}

	100% {
		-webkit-transform:scale(1);
	}

}

@keyframes popgwkblzfocruskmwivuglubbclkynkufsb {
	50% {
		-webkit-transform:scale(1.2);
		transform:scale(1.2);
	}

	100% {
		-webkit-transform:scale(1);
		transform:scale(1);
	}

}

#gwkblzfocruskmwivuglubbclkynkufsb{
	padding:0;
	margin:0;
	font:13px Arial,Helvetica;
	text-transform:none;
	font-size: 100%;
	vertical-align:baseline;
	line-height:normal;
	color:#fff;
	border:solid 2px #fff !important;
	color:#fff !important;
	display:block !important;
	height:auto !important;
	margin:0 !important;
	opacity:0.9 !important;
	padding:7px 10px !important;
	position:fixed !important;
	visibility:visible !important;
	width:auto !important;
	z-index:2147483647 !important;
	-moz-border-radius:5px !important;
	border-radius:5px !important;
	-moz-box-shadow:0px 0px 20px #000 !important;
	box-shadow:0px 0px 20px #000 !important;
}

.gwkblzfocruskmwivuglubbclkynkufsb-blocked{
	padding:0;
	margin:0;
	font:13px Arial,Helvetica;
	text-transform:none;
	font-size: 100%;
	vertical-align:baseline;
	line-height:normal;
	color:#fff;
	color:#AAA !important;
	display:inline !important;
	text-decoration:line-through !important;
}

#gwkblzfocruskmwivuglubbclkynkufsb br{
	display:block !important;
	padding:0;
	margin:0;
	font:13px Arial,Helvetica;
	text-transform:none;
	font-size: 100%;
	vertical-align:baseline;
	line-height:normal;
	color:#fff;
}

#gwkblzfocruskmwivuglubbclkynkufsb span{
	background:transparent !important;
	padding:0;
	margin:0;
	font:13px Arial,Helvetica;
	text-transform:none;
	font-size: 100%;
	vertical-align:baseline;
	line-height:normal;
	color:#fff;
}

#gwkblzfocruskmwivuglubbclkynkufsb div{
	padding:0;
	margin:0;
	font:13px Arial,Helvetica;
	text-transform:none;
	font-size: 100%;
	vertical-align:baseline;
	line-height:normal;
	color:#fff;
	border:0 !important;
	margin:0 !important;
	padding:0 !important;
	width:auto !important;
	letter-spacing:normal !important;
	font:13px Arial,Helvetica !important;
	text-align:left !important;
	text-shadow:none !important;
	text-transform:none !important;
	word-spacing:normal !important;
}

#gwkblzfocruskmwivuglubbclkynkufsb a{
	padding:0;
	margin:0;
	font:13px Arial,Helvetica;
	text-transform:none;
	font-size: 100%;
	vertical-align:baseline;
	line-height:normal;
	color:#fff;
	font-weight:normal !important;
	background:none !important;
	text-decoration:underline !important;
	color:#fff !important;
}

a#gwkblzfocruskmwivuglubbclkynkufsb-gear{
	padding:0;
	margin:0;
	font:13px Arial,Helvetica;
	text-transform:none;
	font-size: 100%;
	vertical-align:baseline;
	line-height:normal;
	color:#fff;
	text-decoration:none !important;
	position:absolute !important;
	display:none !important;
	font-size:20px !important;
	width:20px !important;
	height:20px !important;
	line-height:20px !important;
	text-align:center !important;
	background-color:rgba(255,255,255,.8) !important;
	background-image:url(resource://firefox-at-ghostery-dot-com/ghostery/data/images/gear.svg) !important;
	background-size:16px 16px !important;
	background-position:center center !important;
	background-repeat:no-repeat !important;
	text-decoration:none !important;
}

a#gwkblzfocruskmwivuglubbclkynkufsb-gear:hover{
	-webkit-animation-name:popgwkblzfocruskmwivuglubbclkynkufsb !important;
	animation-name:popgwkblzfocruskmwivuglubbclkynkufsb !important;
	-webkit-animation-duration:0.3s !important;
	animation-duration:0.3s !important;
}

#gwkblzfocruskmwivuglubbclkynkufsb:hover #gwkblzfocruskmwivuglubbclkynkufsb-gear{
	text-decoration:none !important;
	display:inline-block !important;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/EInbV5DfGHOiMmvb1Xr-hqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@charset "UTF-8";
code,pre{
	color:black;
	font-family:Consolas, Monaco, 'Andale Mono', monospace;
	direction:ltr;
	text-align:left;
	white-space:pre;
	word-spacing:normal;
	font-size:0.8rem;
	line-height:1.1rem;
	-moz-tab-size:4;
	-o-tab-size:4;
	tab-size:4;
	-webkit-hyphens:none;
	-moz-hyphens:none;
	-ms-hyphens:none;
	hyphens:none
}

pre::-moz-selection,pre ::-moz-selection,code::-moz-selection,code ::-moz-selection{
	text-shadow:none;
	background:#b3d4fc
}

pre::selection,pre ::selection,code::selection,code ::selection{
	text-shadow:none;
	background:#b3d4fc
}

@media print{
	code[class*="language-"],pre[class*="language-"]{
		text-shadow:none
	}

}

pre{
	padding:1em;
	margin:.5em 0;
	overflow:auto
}

:not(pre)>code,pre{
	background:rgba(245,242,240,0.5)
}

:not(pre)>code{
	padding:.1em;
	border-radius:.3em
}

.token.comment,.token.prolog,.token.doctype,.token.cdata{
	color:slategray
}

.token.punctuation{
	color:#999
}

.namespace{
	opacity:.7
}

.token.property,.token.tag,.token.boolean,.token.number{
	color:#905
}

.token.selector,.token.attr-name,.token.string{
	color:#690
}

.token.operator,.token.entity,.token.url,.language-css .token.string,.style .token.string{
	color:#a67f59
}

.token.atrule,.token.attr-value,.token.keyword{
	color:#009BDD
}

.token.regex,.token.important{
	color:#e90
}

.token.important{
	font-weight:bold
}

.token.entity{
	cursor:help
}

pre.line-numbers{
	position:relative;
	padding-left:3.8em;
	counter-reset:linenumber
}

pre.line-numbers>code{
	position:relative
}

.line-numbers .line-numbers-rows{
	position:absolute;
	pointer-events:none;
	top:0;
	font-size:0.8rem;
	line-height:1.1rem;
	left:-3.8em;
	width:3em;
	letter-spacing:-1px;
	border-right:1px solid #999;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}

.line-numbers-rows>span{
	pointer-events:none;
	display:block;
	counter-increment:linenumber
}

.line-numbers-rows>span:before{
	content:counter(linenumber);
	color:#999;
	display:block;
	padding-right:0.8em;
	text-align:right
}

.language-ruby .symbol{
	color:#997400
}

.language-ruby .namespace,.language-ruby .const{
	color:#C03FE2
}

.language-ruby .literals{
	color:#4FA3A0
}

nav.admin{
	position:absolute;
	display:-webkit-box;
	display:-moz-box;
	display:box;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	box-orient:horizontal;
	-webkit-flex-direction:row;
	-moz-flex-direction:row;
	flex-direction:row;
	-ms-flex-direction:row;
	-webkit-box-align:center;
	-moz-box-align:center;
	box-align:center;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	-o-align-items:center;
	align-items:center;
	-ms-flex-align:center;
	-webkit-box-pack:center;
	-moz-box-pack:center;
	box-pack:center;
	-webkit-justify-content:space-around;
	-moz-justify-content:space-around;
	-ms-justify-content:space-around;
	-o-justify-content:space-around;
	justify-content:space-around;
	-ms-flex-pack:center;
	top:0;
	right:0;
	left:0;
	max-height:56px;
	background:rgba(255,255,255,0.4);
	border-bottom:1px solid rgba(191,204,218,0.6);
	box-shadow:0 1px 2px 0 rgba(217,230,241,0.4);
	z-index:100;
	overflow-y:hidden;
	-webkit-transition:max-height 0.3s, background 0.6s;
	-moz-transition:max-height 0.3s, background 0.6s;
	transition:max-height 0.3s, background 0.6s
}

nav.admin.options>a{
	margin:0 auto 0 0
}

nav.admin a{
	-webkit-box-flex:0;
	-moz-box-flex:0;
	box-flex:0;
	-webkit-flex:0 0 60px;
	-moz-flex:0 0 60px;
	-ms-flex:0 0 60px;
	flex:0 0 60px;
	position:relative;
	text-align:center;
	font-family:entypo;
	font-size:3.5em;
	text-decoration:none;
	color:#3F4752;
	text-shadow:0 1px 0 rgba(114,162,231,0.2)
}

nav.admin a:hover:before{
	color:#1D8FCF
}

nav.admin a,nav.admin button,nav.admin input[type=submit]{
	-webkit-transition:-webkit-transform 1.3s, color 0.6s;
	-moz-transition:-moz-transform 1.3s, color 0.6s;
	transition:transform 1.3s, color 0.6s
}

nav.admin.menu{
	-webkit-align-content:flex-start;
	-moz-align-content:flex-start;
	align-content:flex-start;
	-ms-flex-line-pack:start;
	-webkit-box-lines:multiple;
	-moz-box-lines:multiple;
	box-lines:multiple;
	-webkit-flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	padding:0.9em 0;
	position:fixed
}

nav.admin.menu.extended{
	max-height:100vh;
	background:#FFF
}

nav.admin.menu.extended a.drafts:before{
	content:""
}

nav.admin.menu a{
	font-size:1.3em;
	-webkit-box-flex:none;
	-moz-box-flex:none;
	box-flex:none;
	-webkit-flex:none;
	-moz-flex:none;
	-ms-flex:none;
	flex:none
}

nav.admin.menu a.drafts{
	padding-left:1em;
	margin:0 auto 0 1em
}

nav.admin.menu a.drafts:before{
	position:absolute;
	left:0;
	top:0;
	content:"";
	font-family:entypo;
	font-size:2em;
	line-height:0.7em
}

nav.admin.menu a.button{
	border:1px solid #076fe4;
	border-radius:3px;
	box-shadow:inset 0 1px 0 0 #8ebcf1;
	color:white;
	display:inline-block;
	font-size:inherit;
	font-weight:bold;
	background-color:#4294f0;
	background-image:-webkit-linear-gradient(#4294f0, #0776f3);
	background-image:linear-gradient(#4294f0, #0776f3);
	padding:7px 18px;
	text-decoration:none;
	text-shadow:0 1px 0 #0065d6;
	background-clip:padding-box;
	margin:0 1em 0 1em
}

nav.admin.menu a.button:hover:not(:disabled){
	box-shadow:inset 0 1px 0 0 #60a2ec;
	cursor:pointer;
	background-color:#2f87ea;
	background-image:-webkit-linear-gradient(#2f87ea, #086fe3);
	background-image:linear-gradient(#2f87ea, #086fe3)
}

nav.admin.menu a.button:active:not(:disabled),nav.admin.menu a.button:focus:not(:disabled){
	border:1px solid #076fe4;
	box-shadow:inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3
}

nav.admin.menu a.button:disabled{
	opacity:0.5;
	cursor:not-allowed
}

nav.admin.menu a.button:before{
	display:inline-block;
	content:"➕";
	font-family:entypo;
	font-size:2em;
	line-height:20px;
	vertical-align:middle;
	margin:-2px 8px 0 0
}

nav.admin.menu .button_to input[type=submit]{
	margin-right:0.3em;
	border:none;
	background:none;
	font-family:entypo;
	font-size:3em;
	line-height:50%;
	cursor:pointer;
	outline:none
}

nav.admin.menu section.drafts{
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
	-webkit-flex:1 100%;
	-moz-flex:1 100%;
	-ms-flex:1 100%;
	flex:1 100%
}

nav.admin.menu section.drafts ol{
	margin-top:3em
}

nav.admin.menu section.drafts ol li{
	margin:1em 0;
	font-size:1em
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff) format('woff');
}

        body {
            margin: 0px;
            padding: 0px;
            display: table;
            height: 100%;
            width: 100%;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        p {
            margin: 2px;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 12px;
        }
        #content {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
    
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxuw_rQOTGi-AJs5XCWaKIhU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxhbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxsBo4hlZyBvkZICS3KpNonM.woff) format('woff');
}


#gwkblzfocruskmwivuglubbclkynkufsb hr{
	visibility:hidden !important;
	padding:0;
	margin:0;
	font:13px Arial,Helvetica;
	text-transform:none;
	font-size: 100%;
	vertical-align:baseline;
	line-height:normal;
	color:#fff;
	height:1em;
}

@media print{
	#gwkblzfocruskmwivuglubbclkynkufsb{
		display:none !important;
	}

}


.action-button {
  border-radius: 2px;
  border: 1px solid #19380D;
  padding: 3px 12px;
  background-color: rgba(175, 209, 183, 0.6);
  text-decoration: none;
  display: inline-block;
}

.action-button:active {
  box-shadow: inset 0 0 3px 0px #868686;
}

.action-button.destroy {
  border: 1px solid #863636;
  background-color: rgba(197, 86, 86, 0.6);
}

html,body{
	display:-webkit-box;
	display:-moz-box;
	display:box;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
	-webkit-flex:1;
	-moz-flex:1;
	-ms-flex:1;
	flex:1
}

a{
	color:#485B77
}

body{
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	box-orient:vertical;
	-webkit-flex-direction:column;
	-moz-flex-direction:column;
	flex-direction:column;
	-ms-flex-direction:column;
	margin:0;
	padding:0;
	background-color:#F4F4FA;
	font-family:Helvetica Neue, Open sans, sans-serif;
	font-weight:200;
	font-size:13px;
	color:#212F3C
}

body[id*=posts-]>main h1,body[id*=posts-]>main h2,body[id*=posts-]>main h3,body[id*=posts-]>main h4,body[id*=posts-]>main h5,body[id*=posts-]>main h6,body[id*=posts-]>header h1,body[id*=posts-]>header h2,body[id*=posts-]>header h3,body[id*=posts-]>header h4,body[id*=posts-]>header h5,body[id*=posts-]>header h6{
	font-family:Helvetica Neue, Open sans, sans-serif;
	font-weight:200
}

body[id*=posts-]>main h1,body[id*=posts-]>header h1{
	font-weight:lighter;
	letter-spacing:2px;
	border-bottom:1px solid #FFF
}

body[id*=posts-]>main h1 span,body[id*=posts-]>header h1 span{
	font-weight:bolder
}

body[id*=posts-]>main h2,body[id*=posts-]>main h3,body[id*=posts-]>main h4,body[id*=posts-]>main h5,body[id*=posts-]>main h6,body[id*=posts-]>header h2,body[id*=posts-]>header h3,body[id*=posts-]>header h4,body[id*=posts-]>header h5,body[id*=posts-]>header h6{
	font-weight:lighter;
	letter-spacing:1px
}

body[id*=posts-]>main h2::first-letter,body[id*=posts-]>main h3::first-letter,body[id*=posts-]>main h4::first-letter,body[id*=posts-]>main h5::first-letter,body[id*=posts-]>main h6::first-letter,body[id*=posts-]>header h2::first-letter,body[id*=posts-]>header h3::first-letter,body[id*=posts-]>header h4::first-letter,body[id*=posts-]>header h5::first-letter,body[id*=posts-]>header h6::first-letter{
	font-weight:bolder
}

body[id*=posts-]>main h2,body[id*=posts-]>header h2{
	font-size:2.2em
}

body[id*=posts-]>main h3,body[id*=posts-]>header h3{
	font-size:2.0em
}

body[id*=posts-]>main ol,body[id*=posts-]>main ul,body[id*=posts-]>header ol,body[id*=posts-]>header ul{
	list-style-type:none
}

body[id*=posts-]>main section,body[id*=posts-]>header section{
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	box-orient:vertical;
	-webkit-flex-direction:column;
	-moz-flex-direction:column;
	flex-direction:column;
	-ms-flex-direction:column
}

body[id*=posts-]>main button,body[id*=posts-]>header button{
	font-family:Helvetica Neue, Open sans, sans-serif;
	cursor:pointer;
	background:#A8D8AA;
	color:#156D15;
	border:none;
	outline:none;
	border-radius:2px
}
