*.swo
*.swp
*.patch
.project
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
www/files/.DS_Store
todo.txt
adnauseam.xpi
backup.sh
data/adviewD3.html
data/sliderD3.js
*.sketch
