*.swo
*.swp
*.patch
.project
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name

www/files/.DS_Store
todo.txt

design/ad_view.sketch/Data

design/ad_view.sketch/metadata

design/ad_view.sketch/QuickLook/Thumbnail.png

design/ad_view.sketch/QuickLook/Thumbnail.png
