@font-face {
    font-family: 'PTSansRegular';
    src: url('../webfonts/PTS55F-webfont.eot');
    src: url('../webfonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/PTS55F-webfont.woff') format('woff'),
         url('../webfonts/PTS55F-webfont.ttf') format('truetype'),
         url('../webfonts/PTS55F-webfont.svg#PTSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansItalic';
    src: url('../webfonts/PTS56F-webfont.eot');
    src: url('../webfonts/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/PTS56F-webfont.woff') format('woff'),
         url('../webfonts/PTS56F-webfont.ttf') format('truetype'),
         url('../webfonts/PTS56F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansBold';
    src: url('../webfonts/PTS75F-webfont.eot');
    src: url('../webfonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/PTS75F-webfont.woff') format('woff'),
         url('../webfonts/PTS75F-webfont.ttf') format('truetype'),
         url('../webfonts/PTS75F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansBoldItalic';
    src: url('../webfonts/PTS76F-webfont.eot');
    src: url('../webfonts/PTS76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/PTS76F-webfont.woff') format('woff'),
         url('../webfonts/PTS76F-webfont.ttf') format('truetype'),
         url('../webfonts/PTS76F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}