html {
	height: 100%;
}

body {
	height: 100%;
	background: #000 url(img/gray_grid.png);
	color: #4C4D4C;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
}

* {
	transition: opacity 0.5s ease;
}

a {
  text-decoration: none;
}

#logo{

	position: absolute;
	left: 10px;
	top: 10px;

	margin: 8px 10px;
}


#logo a {
	width: 75px;
	height: 75px;
	background: url(img/adn_black.png);
	background-size: 100%;
	opacity: 0.8;
	display: block;
	text-decoration: none;
}

.logtime {
}

.logtext {
}

.logentry {
}

.logdiv {
	position: absolute;
	top: 132px;
	left: 15px;
	font-size: 12px;
	color: #999;
	text-shadow: 1px  1px 2px #000,
				-1px  1px 2px #000,
				-1px -1px 2px #000,
				 1px -1px 2px #000;
}

#logpath {
	position: fixed;
	bottom: 0px;
}

#settings {
  height: 450px;
  font-family: bebas_neue_regularregular;
  width: 100%;
  color: #aaa;
}
#settings header a.close {
  display: inline-block;
  color: #777;
  width: 90px;
  height: 100px;
  float: right;
  padding-top:30px;
  font-family: bebas_neue_regularregular;
  font-size: 40px;
  text-align: center;
}
#settings header a.close:hover{
  color: #0076FF;
}
#settings header h2 {
  display: inline-block;
  width: 130px;
  padding:20px;
  color: #0076FF;
}
