body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
hbox {
	font-size: 14px;
	color: #0C1858;
	overflow-x: hidden;
}

table, th, td {
	width: 100%;
	border: 1px solid #fffaaa;
}
table {
	margin: 0px;
	border-collapse: collapse;
}
tr {
	background-color: #f0d0Ff;
	width: 100%
}
tr:hover {
	background-color: #ffdfFf;
}
td {
	padding: 4px;
}