body {
	background: #000 url(img/project_papper.png);
	color: #4C4D4C;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
}

* {
	transition: opacity 0.5s ease;
}

/* STAGE */

.stage {
	width: 75%;
	position: fixed;
	top:0;
	bottom: 0;
	left:0;
}

.zoom {
	position: absolute;
	top: 16px;
	left: 16px;
	border: 2px solid #818181;
	border-radius: 12px;
	height: 41px;
	width: 16px;
	background: #000;
	z-index: 100;
}

.zoom a {
	line-height: 20px;
	display: block;
	height: 18px;
	text-align: center;
	color: #818181;
	text-decoration: none;
	overflow: hidden;
}

.zoom a:hover {
	color: #fff;
}

.zoom a.z-in{
	border-bottom: 1px solid #818181;
}

.session-sum {
	position: absolute;
	bottom: 16px;
	left: 16px;
	z-index: 100;
	font-size: 12px;
	color: #4C4D4C;
}

#logo{
	position: absolute;
	z-index: 100;
	bottom: 16px;
	right: 16px;
}

#logo a {
	width: 75px;
	height: 75px;
	background: url(img/ADNAUSEUM_logo.svg);
	display: block;
	text-decoration: none;
}


.item{ 
	/* margin-bottom: -6px; */
	background: #000;
}

.item img {
	opacity: 0.85;
}

.item.pending img {
	opacity: 0.4;
}

.item .counter{
	display: block;
	position: absolute;
	right: 2px;
	top: 2px;
	width: 6px;
	height: 6px;
	text-indent: -9999px;
	overflow: hidden;
	background: #A020F0;
	border-radius: 10px;
	text-align: center;
	font-size: 12px;
	box-shadow:   -4px 4px 10px 0px rgba(0,0,0,0.20);
	z-index: 1000;
	color: #fff;
	line-height: 1.5em;
}

.item.dup-count-1 .counter{
	display: none;
}

.item:hover {
	box-shadow:   0px 0px 20px 0px rgba(0,0,0,0.90);
	z-index: 100000;
}

.item:hover .counter,
.item:focus .counter {
	top: -10px;
	right: -10px;
	width: 20px;
	height: 20px;
	text-indent: 0;
	overflow: none; 
}

.item:hover img,
.item:focus img{
	opacity: 1;
	border: 3px solid #A020F0;
	margin: -3px;
	border-radius: 3px;
}

.item:hover img,
.item:focus img {
	opacity: 1;
	border: 3px solid #A020F0;
	margin: -3px;
	border-radius: 3px;
}

.item:focus img {
	width: 120%;
	height: auto;
}

.item.pending:hover img {
	border: 3px solid #00f;
}

/***************************************************
 	SIDE PANEL
 ***************************************************/

aside {
	width: 25%;
	position: fixed;
	right: 0;
	top:0;
	bottom: 0;
	background: url(img/bg_panel.png);
}

aside .panel-resize {
	position: absolute;
	top:0;
	left: 0;
	bottom: 0;
	width: 2px;
	background: #aaa;
	border: 1px solid #777;
	border-width: 0 1px;
	display: block;
	z-index: 200;
	cursor: col-resize;
}

.inspect {
	top:0;
	right:0;
	bottom: 0;
	left: 0;
	position: absolute;
	background-image: -o-linear-gradient(-90deg, rgba(255,255,255,0.50) 0%, rgba(10,10,10,0.21) 100%);
	background-image: -moz-linear-gradient(-90deg, rgba(255,255,255,0.50) 0%, rgba(10,10,10,0.21) 100%);
	background-image: -webkit-linear-gradient(-90deg, rgba(255,255,255,0.50) 0%, rgba(10,10,10,0.21) 100%);
	background-image: -ms-linear-gradient(-90deg, rgba(255,255,255,0.50) 0%, rgba(10,10,10,0.21) 100%);
	background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(10,10,10,0.21) 100%);
}

/*------------------------------------*\
    $CAROUSEL
\*------------------------------------*/
.carousel{
  overflow:hidden;
  width:100%;
}
.panes{
	margin: 0;
	padding: 0;
  list-style:none;
  position:absolute;
  top: 0; bottom: 0;
  height: 100%;
  width:500%; /* Number of panes * 100% */
  overflow:hidden; /* This is used solely to clear floats, it does not add functionality. */
  -moz-animation:carousel 30s infinite;
  -webkit-animation:carousel 30s infinite;
  animation:carousel 30s infinite;
}
.panes > li{
  position:relative;
  display: block;
  float: left;
  width:20%; /* 100 / number of panes */
	top:0; bottom: 0;
	height: 100%;
}
.panes > li > a{
	display: block;
	margin: auto;
	top: 0; right: 0; bottom: 100px; left: 0;
	position: absolute;
}
.carousel img{
	display: block;
	margin: auto;
	top: 0; right: 0; bottom: 0; left: 0;
	position: absolute;
	-moz-box-shadow:    0px 8px 10px 0px rgba(0,0,0,0.20);
	-webkit-box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.20);
	box-shadow:         0px 8px 10px 0px rgba(0,0,0,0.20);
}

.carousel div.num-of{
	position: absolute;
	bottom: 100px;
	text-align: center;
	width: 100%;
	font-size: 2em;
	color: #999;
	font-family: Georgia, "Times New Roman", Serif;
	font-style: italic;
	margin-bottom: 20px;
}

.carousel div.num-of span:last-child {
	line-height: .5em;
}

@keyframes carousel{
  0%    { left:0; }
  11%   { left:0; }
  12.5% { left:-100%; }
  23.5% { left:-100%; }
  25%   { left:-200%; }
  36%   { left:-200%; }
  37.5% { left:-300%; }
  48.5% { left:-300%; }
  50%   { left:-400%; }
  61%   { left:-400%; }
  62.5% { left:-300%; }
  73.5% { left:-300%; }
  75%   { left:-200%; }
  86%   { left:-200%; }
  87.5% { left:-100%; }
  98.5% { left:-100%; }
  100%  { left:0; }
}

aside .details {
	position: absolute;
	left: 4px;
	right: 0;
	bottom: 0;
	height: 100px;
	background: rgba(220,220,220,0.90);
	font-size: 12px;
}

aside .details dl {
	line-height: 20px;
	margin: 0;
	padding: 0;
}

aside .details dd,
aside .details dt {
	margin: 0;
	padding: 2px 0;
	border-bottom: 1px solid #BFBFBF;
	width: 30%;
	display: inline-block;
}
aside .details dd {
	text-indent: 8px;
	margin: -4px;
}
aside .details dt{
	min-width: 70%;
	font-weight: 700;
}
aside .details dt a.visited {
	color: #A020F0;
}