html {
	height: 100%;
}

body {
	height: 100%;
	background: #000 url(img/gray_grid.png);
	color: #4C4D4C;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
}

* {
	transition: opacity 0.5s ease;
}

div.tooltip {
  position: absolute;
  text-align: center;
  height: 25px;
  padding: 4px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  z-index: 10000;
}

/* STAGE */
#left{
  float:left;
  width:75%;
	height: 100%;
	overflow: hidden;
}

#right{
    float:left;
    width:25%;
}

#handle{
    float:left;
	position: absolute;
	top:0;
	left: 0;
	bottom: 0;
	width: 2px;
	background: #aaa;
	border: 1px solid #777;
	border-width: 0 1px;
	display: block;
	z-index: 200;
	cursor: col-resize;
}

.stage {
}

#container {
	position: absolute;
  	cursor: -webkit-grab;
	/* auto-centers the composition on adview-open (nice fix by cyrus) */
	top:50%;
	left:50%;
	margin: -5000px 0 0 -5000px;
	min-height: 10000px;
	min-width: 10000px;
}

#container:active {
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.hide {
	display: none;
}

#alert {
	height: 100%;
    width: 100%;
    position: relative;
}

#alert img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -36px 0px 0px -36px;
	width: 72px;
	height: auto;
	box-shadow: 2px 0px 30px #000;
	background: #000;
	border-radius: 30px;
}

#alert p {
	position: absolute;
	top: 50%;
	margin-top: 50px;
	text-align: center;
	width: 80%;
	padding: 0px 10%;
	color: white;
	text-shadow: 0 0 3px #000;
}

.zoom {
	position: absolute;
	top: 16px;
	left: 16px;
	border: 2px solid #818181;
	border-radius: 12px;
	height: 41px;
	width: 16px;
	background: #000;
	z-index: 100;
}

.zoom a {
	line-height: 18px;
	display: block;
	height: 21px;
	text-align: center;
	color: #818181;
	text-decoration: none;
	overflow: hidden;
}

.clearb {
	position: absolute;
	top: 16px;
	left: -35px;
	border: 2px solid #818181;
	border-radius: 12px;
	height: 20px;
	width: 16px;
	background: #000;
	z-index: 100;
}

.clearb a {
	line-height: 18px;
	display: block;
	height: 21px;
	text-align: center;
	color: #818181;
	text-decoration: none;
	overflow: hidden;
}

.clearb a:hover {
	color: #fff;
}

.zoom a:hover {
	color: #fff;
}

.zoom a#z-in{
	border-bottom: 1px solid #818181;
}

.z-100 {

	transform: 			scale(1, 1);
}

.z-50 {

	transform: 			scale(0.5, 0.5);
}

.z-25 {

	transform: 			scale(0.25, 0.25);
}

.z-12_5 {

	transform: 			scale(0.125, 0.125);
}

.z-6_25 {

	transform: 			scale(0.0625, 0.0625);
}

.container-trans {

    transition: 		transform 0.5s;
}

#ratio {
	position: absolute;
	top: 65px;
	left: 17px;
	z-index: 100;
	font-size: 9px;
	color: #999;
}

.svg-container {

	position: absolute;
	bottom: 0px;
	left: 6px;
	z-index: 100;
	font-size: 12px;
	color: #999;
	text-shadow: 1px  1px 2px #000,
							-1px  1px 2px #000,
							-1px -1px 2px #000,
							 1px -1px 2px #000;
}

.session-sum {
	position: absolute;
	bottom: 82px;
	left: 24px;
	z-index: 100;
	font-size: 12px;
	color: #999;
	text-shadow: 1px  1px 2px #000,
				-1px  1px 2px #000,
				-1px -1px 2px #000,
				 1px -1px 2px #000;
}

#logo{
	z-index: 100;
	bottom: 0;
	position: absolute;
	left: -100px;
	margin: 8px 10px;
}

#clear.button{
	z-index: 2000;
	bottom: 0;
	position: absolute;
	right: 25%;
	margin: 8px 10px;
}


#logo a {
	width: 75px;
	height: 75px;
	background: url(img/adn_black.png);
	background-size: 100%;
	opacity: 0.8;
	display: block;
	text-decoration: none;
}

.item {
	/* margin-bottom: -6px; */
	background: #000;
	display: inline-block;
	position: relative;
	animation: 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275) 0s normal forwards 1 pop;
	transform: scale(1,1);
	margin: 0;
	opacity: 1;
}

@keyframes pop {
   from {
     transform: scale(0.8,0.8);
			 opacity: 0.3;
					 /*top: 5000px;
					left: 5000px;*/
   }
}

.title {
	display: none;
}

.item-hidden {
	display: none;
}

.item img {
	/*opacity: 0.85;*/
}

/*
.item, .item img {
	//temporary fix for the big images bug
	max-width: 600px !important;
}*/

.item.pending img {
	/*opacity: 0.8;*/
}

.item span{
	display: block;
	position: absolute;
	right: 2px;
	top: 2px;
	width: 4px;
	height: 4px;
	text-indent: -9999px;
	overflow: hidden;
	background: #A020F0;
	border-radius: 360px;
	text-align: center;
	font-size: 12px;
	box-shadow:   -4px 4px 10px 0px rgba(0,0,0,0.20);
	z-index: 1000;
	color: #fff;
	line-height: 1.5em;
}

.item span.eye {
	display: none;
}

.item.dup-count-1 .counter {
	display: none;
}

.item:hover {
	box-shadow:   0px 0px 40px 5px rgba(0,0,0,0.90);
	z-index: 100000;
}

.item:hover .counter,
.item:focus .counter {
	top: -10px;
	right: -10px;
	width: 20px;
	height: 20px;
	text-indent: 0;
}

.item:hover span.eye,
.item:focus span.eye {
	display: block;
	top: auto;
	bottom: -10px;
	right: -10px;
	width: 20px;
	height: 20px;
	background: #A020F0 url(img/eye-white.svg) no-repeat center center;
	background-size: 1em;
}


.item:focus span.eye:hover {
	background-image: url(img/link.svg);
}

.z-75 .item:hover span {
	right: 	-15px;
	top: 	-15px;
	width:	30px;
	height: 30px;
	font-size: 18px;
}

.z-75 .item:hover span.eye {
	top:			auto;
	bottom: 	-15px;
}

.z-50 .item:hover span {
	right: 	-20px;
	top: 	-20px;
	width:	40px;
	height: 40px;
	font-size: 24px;
}

.z-50 .item:hover span.eye {
	top:			auto;
	bottom: 	-20px;
}

.z-25 .item:hover span {
	right: 	-40px;
	top: 	-40px;
	width:	80px;
	height: 80px;
	font-size: 48px;
}

.z-25 .item:hover span.eye {
	top:			auto;
	bottom: 	-40px;
}

.z-12_5 .item:hover span {
	right: 	-60px;
	top: 	-60px;
	width:	120px;
	height: 120px;
	font-size: 72px;
}

.z-12_5 .item:hover span.eye {
	top:			auto;
	bottom: 	-60px;
}

.z-6_25 .item:hover span {
	right: 	-120px;
	top: 	-120px;
	width:	240px;
	height: 240px;
	font-size: 144px;
}

.z-6_25 .item:hover span.eye {
	top:			auto;
	bottom: 	-120px;
}

.z-75 .item span {
	width: 6px;
	height: 6px;
}

.z-50 .item span {
	width: 8px;
	height: 8px;
}

.z-25 .item span {
	width: 16px;
	height: 16px;
}

.z-12_5 .item span {
	width: 32px;
	height: 32px;
}

.z-6_25 .item span {
	width: 64px;
	height: 64px;
}

.item:hover img,
.item:focus img{
	opacity: 1;
	border: 3px solid #A020F0;
	margin: -3px;
	border-radius: 3px;
}

.item.pending:hover img {
	border: 3px solid #00f;
}

/***************************************************
 	SIDE PANEL
 ***************************************************/

aside {
	width: 25%;
	position: fixed;
	right: 0;
	top:0;
	bottom: 0;
	/*background: url(img/bg_panel.png);*/
	z-index: 10000;
}

aside .panel-resize {
	position: absolute;
	top:0;
	left: 0;
	bottom: 0;
	width: 2px;
	background: #aaa;
	border: 1px solid #777;
	border-width: 0 1px;
	display: block;
	z-index: 200;
	cursor: col-resize;
}

/***************************************************
 	SIDE PANEL: CONTROLS
 ***************************************************/


aside .controls {
	bottom: 180px;
	margin: 0 auto;
	z-index: 200;
	position: absolute;
	text-align: center;
}

aside .controls li {
	margin: 0 auto;
	list-style: none;
	margin-right: 10px;
	display: inline-block;
}

aside .controls a {
	width: 4px;
	height: 4px;
	border: 2px solid #F2F2F2;
	border-radius: 4px;
	display: block;
}

aside .controls li.active a {
	background: #F2F2F2;
}

/***************************************************
 	SIDE PANEL: INSPECTOR
 ***************************************************/

.inspect {
	top:0;
	right:0;
	bottom: 0;
	left: 0;
	position: absolute;
	background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(10,10,10,0.21) 100%);
}

/*------------------------------------*\
    $CAROUSEL
\*------------------------------------*/

.carousel{
  overflow:hidden;
  width:100%;
}

.panes{
	margin: 0;
	padding: 0;
	list-style:none;
	position: relative;
	top: 0; bottom: 0;
	height: 100%;
	width: 100%;
	overflow:hidden; /* This is used solely to clear floats, it does not add functionality. */
}

/*.panes.animate{
  -moz-animation:carousel 30s infinite;
  -webkit-animation:carousel 30s infinite;
  animation:carousel 30s infinite;
}*/

.panes > li{
  position: absolute;
  display: block;
  float: left;
  overflow: visible;
  white-space: nowrap;
  width: 100%;
  top:0; bottom: 0;
	height: 100%;
	right: -100%;
}

.panes > li.in,
.panes > li.out {
	-webkit-transition: right 1s;
	transition: 				right 1s;
	right: 0;
}

.panes > li.out {
	right: 100%;
}

.panes > li.empty {
	right: -100%;
}


.panes > li > a{
	display: block;
	margin: auto;
	top: 0; right: 0; bottom: 100px; left: 0;
	position: absolute;
	overflow: hidden;
}
.carousel img{
	display: block;
	margin: auto;
	top: 0; right: 0; bottom: 0; left: 0;
	position: absolute;
	-moz-box-shadow:    0px 8px 10px 0px rgba(0,0,0,0.20);
	-webkit-box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.20);
	box-shadow:         0px 8px 10px 0px rgba(0,0,0,0.20);
}

.carousel div.num-of{
	position: absolute;
	bottom: 100px;
	text-align: center;
	width: 100%;
	font-size: 2em;
	color: #999;
	font-family: Georgia, "Times New Roman", Serif;
	font-style: italic;
	margin-bottom: 20px;
}

.carousel div.num-of span:last-child {
	line-height: .5em;
}

@keyframes carousel{
  0%    { left:0; }
  11%   { left:0; }
  12.5% { left:-100%; }
  23.5% { left:-100%; }
  25%   { left:-200%; }
  36%   { left:-200%; }
  37.5% { left:-300%; }
  48.5% { left:-300%; }
  50%   { left:-400%; }
  61%   { left:-400%; }
  62.5% { left:-300%; }
  73.5% { left:-300%; }
  75%   { left:-200%; }
  86%   { left:-200%; }
  87.5% { left:-100%; }
  98.5% { left:-100%; }
  100%  { left:0; }
}

aside .details {
	position: absolute;
	left: 4px;
	right: 0;
	bottom: 0;
	height: 130px;
	border-bottom: 20px solid #ccc;
	background: rgba(220,220,220,0.90);
	font-size: 12px;
}

aside .details dl {
	line-height: 18px;
	margin: 0;
	padding: 6px 0 0 40px;
	background: url(img/eye.svg) no-repeat 10px center;
	background-size: 16px;
}

aside .details dl.leads-to {
	background-image: url(img/external-link.svg)
}

aside .details dl.leads-to.visited {
	background-image: url(img/external-link-visited.svg)
}

aside .details dl:first-child {
	border-bottom: 1px solid #BFBFBF;
}

aside .details dd,
aside .details dt {
	margin: 0;
	padding: 2px 0px 5px;
	width: 30%;
	display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
	border-bottom: 1px solid #BFBFBF;
}

aside .details dl dd:nth-child(4),
aside .details dl dt:nth-child(5) {
	border: 0;
	padding-bottom: 0;
}

aside .details dd {
	text-indent: 12px;
	margin: 0 -4px;
}
aside .details dt{
	min-width: 70%;
	font-weight: 700;
}
aside .details dt a.visited {
	color: #A020F0;
}

/******************************

		D3 Slider

******************************/

svg {
  font: 10px sans-serif;
}

.bars rect {
  fill: #777;
}

.selecting rect {
}

.selecting rect.selected {
  fill: #ccc;
}

.brush .extent {
  fill-opacity: .5;
  shape-rendering: crispEdges;
	cursor: move;
}

.axis text {
  font: 10px sans-serif;
  fill: #ccc;
}

.axis line,
.axis path {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}
